/* src/pages/DescriptionPage/DescriptionPage.module.css */
.descriptionPage {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.columns {
  display: flex;
  gap: 2rem;
}

.column {
  flex: 1;
}

.counter {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  min-height: 150px;
  margin-bottom: 1rem;
}

.generatedTextarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  margin-bottom: 1rem;
  min-height: 600px;
}

.button {
  min-width: 100px;
  padding: 0.7rem 1.2rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 0.5rem;
}

.button:hover {
  background-color: #0056b3;
}
.groupButton {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
