/* src/components/Header/Header.module.css */
.header {
  margin-left: 30%;
  width: 50%;
  max-width: 800px;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #333;
  z-index: 1000;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.header a:hover {
  background-color: #555;
}

.header a.active {
  background-color: #007bff; /* Цвет подсветки для активной ссылки */
  color: white;
}
