/* src/components/LocaleSelector/LocaleSelector.module.css */
.localeSelector {
  margin-bottom: 2rem;
  display: flex;
  padding-left: 50px;
  gap: 30px;
}

.locales {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.locale {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.locale input[type="radio"] {
  cursor: pointer;
}
