/* src/components/TextAreaWithButton/TextAreaWithButton.module.css */
.container {
  margin-bottom: 1.5rem;
}

.container label {
  display: block;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.textAreaWrapper {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  min-height: 100px;
}
.descTextarea {
  min-height: 400px;
}

.generateButton {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.generateButton:hover {
  background-color: #0056b3;
}
