.container {
  display: flex;
  flex-direction: column;
}

.header {
}

.searchInput {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 16px;
}

.tableContainer {
  max-height: 75vh; /* Фиксированная высота таблицы */
  overflow-y: auto; /* Вертикальная прокрутка */
}
table {
  width: 100%;
  border-collapse: collapse;
}
thead {
  position: sticky;
  top: 0;
  z-index: 10;
}

th,
td {
  text-align: left;
}

.headerRow {
  background-color: #f5f5f5;
}

.headerCell {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.row {
  border-bottom: 1px solid #ddd;
}

.cell {
  padding: 10px;
  border: 1px solid #ddd;
}

.buttonAdd {
  padding: 4px 8px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttonAdd:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.buttonDelete {
  padding: 4px 8px;
  background-color: #ff4d4f;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttonDelete:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
