.container {
  max-width: 50%;
}

.sectionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.label {
  font-weight: bold;
  font-size: 14px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: none;
  font-size: 12px;
}
.forIndicator {
  position: relative;
  width: 100%;
}
.groupInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.counter {
  font-size: 14px;
  color: #666;
  white-space: nowrap;
}

.button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
